
.Station-page {
  background-color: #007ac9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.table-wrapper { 
  width: 70%;
  box-shadow: 0px 35px 35px rgba(0,0,0,0.75);
}


.station-table {
  padding: 2 rem;
  text-align: center;
  background-color: white;
  color: black;
  border-collapse: collapse;
}

.station-table th {
  padding: 1rem;
}

table{
  width: 100%;
  table-layout: fixed;
  border-radius: 10px;
}

td {
  padding: 0.5rem;
  border-bottom: 1px solid black;
  cursor: pointer;
  font-size: calc(1px + 2vmin);
}

th {
  background-color: #3f9560;
  color: white;
}

tr:hover {
  background-color: #3f9560;
  color: white;
}

.page-select {
  text-align: inherit;
  background-color: #3f9560;
  color: white;
  width: 100%;
  font-size: calc(10px + 2vmin);
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  border: none;
  appearance: none;
}






@keyframes zoom-button {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
