
.Station-page {
  background-color: #007ac9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.station-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  width: 50%;
  padding: 0 1rem;
}

.Station-page-buttons {
    padding-top: 2rem;;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.next-button {
    margin-left: 1rem;
    background-color: #7a4090;
    padding: 1rem;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  }
  
  .prev-button {
    margin-right: 1rem;
    padding: 1rem;
    background-color: #7a4090;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  }

    .next-button:hover,
    .prev-button:hover {
      animation: zoom-button 0.3s;
      animation-fill-mode: forwards;
    }

@keyframes zoom-button {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
