
.station:hover {
  animation: zoom-button 0.3s;
  animation-fill-mode: forwards;
}

.station-name {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.station-address {
  margin-bottom: 0.5rem;
}

.station {
  padding: 1rem;
  font-size: calc(5x + 1vmin);

}



@keyframes zoom-button {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}